*{
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

body{
    color: #eaeaea;
    background-color: #151514;
}

.infotable{
    border: 1px solid black;
    background-color: rgb(157, 112, 167);
}
th, td{
    border: 1px solid black;
    text-align: center;
    padding: 0 1rem;
    color: #000000;
}

/*  */
.account-info{
    display: flex;
    flex-direction: column;
}

.account-info input{
    outline: none;
    border: none;
    background: none;
    width: 30%;
    background-color: rgb(98, 107, 107);
    margin-bottom: 1rem;
    font-size: 15px;
    padding: 5px;
}

#pfp{
    border-radius: 11rem;
    width: 350px;
    height: 350px;
}

.img{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 1rem 0;
}