*{
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

body{
    color: #eaeaea;
    background-color: #151514;
}

.login{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #353534;
    border-radius: 1rem;
}
    
.login input, .login button{
    outline: none;
    border: none;
    background: none;
    appearance: none;
    background-color: rgb(190, 204, 204);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
}

.login button{
    width: 50%;
    margin: 1rem auto;
    display: block; /* DUNNO Y THIS WORKS */
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

#title{
    text-align: center;
}

#login-signup{
    text-decoration: underline;
}

#login-signup:hover, #submit-button:hover{
    cursor: pointer;
}

#login-signup:hover{
    color: purple;
}

#selections{
    color:rgb(255, 255, 255);
    margin: auto;
}

.switch{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
}

p, a{
    margin: 0;
}